@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import 'hero';
@import 'header';
@import 'media';
@import 'animation';


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif; 
  // 없을 때 추가설정
}

.container {
  width: 80%;
  margin: 2rem auto;
}