{% extends 'base.html' %}
{% load static %}

{% block title %}
expense
{% endblock title %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
    <li class="list-group-item">Bought Beer</li>
</ul>
{% endblock content %}


{% block js %}
{% endblock js %}