{% extends 'base.html' %}


{% block content %}
<h2 class="title">Our Burgers</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        {% for pizza in burgers %}
        <div class="col-md-4 p-4">

          <img class="picture" src="{{ pizza.pImage }}">
          <h4 class="pt-3">{{ pizza.name }}</h4>
          <div class="form-check-inline">
            <label for="" class="form-check-label">
              <input type="radio" class="form-check-input" checked>
              {{ pizza.priceM }} $
            </label>
          </div>

          <div class="form-check-inline">
            <label for="" class="form-check-label">
              <input type="radio" class="form-check-input">
              {{ pizza.priceL }} $
            </label>
          </div>

          <button class="btn-info mt-3">Add to cart</button>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block js %}
{% endblock js %}

<script>
  // run the script after full loading ..
  //window.onload = function myActive() {
  //  var element = document.getElementById("nav-burgers");
  //  element.classList.add("active");
  //}
</script>
