{% extends 'base.html' %}


{% block js %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
<script src="{% static 'crudjs/ajax_crud.js' %}"></script>
<style type="text/css">
html {
    box-sizing : content-box !important;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
</style>
{% endblock js %}


{% block content %}
<br><br><br><br><br>
    <form>
        {% csrf_token %}
        <input type="hidden" id="member_id" value="{{ member.id }}"/>
        <div class="form-group">
            <label>Firstname</label>
            <input type="text" id="firstname" value="{{ member.firstname }}" required="required"/>
        </div>
        <div class="form-group">
            <label>Lastname</label>
            <input type="text" id="lastname" value="{{ member.lastname }}" required="required"/>
        </div>
        <div class="form-group">
            <button type="button" id="update" class="btn btn-sm btn-warning">Update</button>
        </div>
    </form>
{% endblock %}