{% extends 'base.html' %}
{% load static %}
{% load react %}

{% block title %}
todos
{% endblock title %}

{% block nav %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/">Dj3API</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'todos:index' %}">Todos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'posts:list' %}">Posts</a>
    </li>
</ul>
{% endblock nav %}

{% block content %}
<br />
<div id="todos" />
{% endblock content %}

{% block js %}
<script src="{% react js_app_name %}"></script>
<script>
const list = {{props | safe}};
</script>
{% endblock js %}